*{
  width: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .anr{
  --tw-gradient-to: #776fff var(--tw-gradient-to-position);
  --tw-gradient-to-position: ;
}
.amt{
  --tw-gradient-from: #ff4694 var(--tw-gradient-from-position);
  --tw-gradient-from-position: ;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
} */